@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    --primaire : #FD2D01;
    --secondaire : #FFD7D7;
    --tertiaire : #4E5166;
}


.form {
    display: flex;
    margin-top: 75px;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: 75vh;
    margin-left: 25%;
    margin-bottom: 150px;
    border-radius: 15px;
    box-shadow: 12px 17px 15px 2px var(--primaire);
    border: 2px solid var(--primaire);
}

h1{
    color: var(--tertiaire);
    margin : 15px;
    font-weight: bold;
}
.inputTitre label{
    border-bottom: solid 2px var(--primaire);
    margin : 15px;
    padding : 3px;
}
.inputTitre input {
    width: 90%;
    height: 25px;
    padding : 15px;
    margin : 10px;
    border-radius: 10px;
    border : solid 2px var(--secondaire);
}
.inputTexte label{
    border-bottom: solid 2px var(--primaire);
    margin : 5px;
    padding : 2px;
}
.inputTexte textarea {
    width: 90%;
    height: 80px;
    max-height: 80px;
    max-width: 90%;
    min-width: 90%;
    padding : 15px;
    margin : 10px;
    border-radius: 10px;
    border : solid 2px var(--secondaire);
    font-family: Lato;
}

.inputImage{
    display: flex;
    flex-direction: column;
    height: 225px;
    margin-top: -5px;
}

.inputImage input[type=file]{
    background-color: #fff;
    border: solid 3px var(--primaire);
    color: var(--primaire);
    padding: 10px 25px;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.inputImage img{
    border-radius: 15px;
    width: 25%;
    height: 50%;
    margin-left: 38%;
    margin-top: 15px; 
}
.bouton button{
    background-color: #fff;
    border: solid 2px var(--primaire);
    color: var(--primaire);
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.bouton button:hover{
    background-color: var(--primaire);
    color: var(--tertiaire);
}
@media screen and (max-width : 320px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .form {
        display: flex;
        width: 90%;
        margin-left: 5%;
        flex-direction: column;
    }
    .inputTexte textarea {
        height: 50px;
    }
    .inputTitre input {
        height: 10px;
    }
    .inputImage{
        height: 160px;
    }
    .inputImage input[type=file]{
    margin-left: 25%;
    padding-left: 5px;
    height: 50px;
    width: 50%;
    font-size: 15px;
    }
    .bouton button{
        width: 70px;
    }
}
@media screen and (min-width : 321px) and (max-width : 413px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .form {
        display: flex;
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        flex-direction: column;
    }
    .inputTexte textarea {
        height: 100px;
    }
    .inputTitre input {
        height: 10px;
    }
    .inputImage{
        height: 225px;
    }
    .inputImage input[type=file]{
    margin-left: 25%;
    padding-left: 5px;
    height: 50px;
    width: 50%;
    font-size: 15px;
    }
    .inputImage img{
        width: 50%;
        margin-left: 25%;
    }
    .bouton button{
        width: 70px;
    }

}
@media screen and (min-width : 414px) and (max-width : 599px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .form {
        display: flex;
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        flex-direction: column;
    }
    .inputTexte textarea {
        height: 100px;
    }
    .inputTitre input {
        height: 10px;
    }
    .inputImage{
        height: 290px;
    }
    .inputImage input[type=file]{
    margin-left: 25%;
    padding-left: 5px;
    height: 50px;
    width: 50%;
    font-size: 15px;
    }
    .inputImage img{
        width: 50%;
        margin-left: 25%;
    }
    .bouton button{
        width: 70px;
    }
}
@media screen and (min-width : 600px) and (max-width : 767px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .form {
        position: absolute;
        display: block;
        top: 60px;
        text-align: center;
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        bottom: 150px;
        border-radius: 15px;
        box-shadow: 12px 17px 15px 2px var(--primaire);
        border: 2px solid var(--primaire);
    }
    .inputTexte textarea {
        height: 100px;
    }
    .inputTitre input {
        height: 10px;
    }
    .inputImage{
        height: 290px;
    }
    .inputImage input[type=file]{
    margin-left: 25%;
    padding-left: 5px;
    height: 50px;
    width: 50%;
    font-size: 15px;
    }
    .inputImage img{
        width: 50%;
        margin-left: 25%;
    }
    .bouton button{
        width: 70px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .form {
        position: absolute;
        display: block;
        top: 60px;
        text-align: center;
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        bottom: 150px;
        border-radius: 15px;
        box-shadow: 12px 17px 15px 2px var(--primaire);
        border: 2px solid var(--primaire);
    }
    .inputTexte textarea {
        height: 100px;
    }
    .inputTitre input {
        height: 10px;
    }
    .inputImage{
        height: 500px;
    }
    .inputImage input[type=file]{
    margin-left: 25%;
    padding-left: 5px;
    height: 50px;
    width: 50%;
    font-size: 15px;
    }
    .inputImage img{
        width: 50%;
        margin-left: 25%;
    }
    .bouton button{
        width: 70px;
    }
}