@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    --primaire : #FD2D01;
    --secondaire : #FFD7D7;
    --tertiaire : #4E5166;
}

.form {
    position: absolute;
    display: block;
    top: 200px;
    text-align: center;
    width: 50%;
    height: auto;
    margin-left: 25%;
    bottom: 150px;
    border-radius: 15px;
    box-shadow: 12px 17px 15px 2px var(--primaire);
    border: 2px solid var(--primaire);
}

h1{
    color: var(--tertiaire);
    margin : 15px;
    font-weight: bold;
}
.inputTitre label{
    border-bottom: solid 2px var(--primaire);
    margin : 15px;
    padding : 3px;
}
.inputTitre input {
    width: 90%;
    height: 25px;
    padding : 15px;
    margin : 10px;
    border-radius: 10px;
    border : solid 2px var(--secondaire);
}
.inputTexte label{
    border-bottom: solid 2px var(--primaire);
    margin : 5px;
    padding : 2px;
}
.inputTexte textarea {
    width: 90%;
    height: 80px;
    max-height: 80px;
    max-width: 90%;
    min-width: 90%;
    padding : 15px;
    margin : 10px;
    border-radius: 10px;
    border : solid 2px var(--secondaire);
    font-family: Lato;
}

.inputImage{
    display: flex;
    flex-direction: column;
    height: 225px;
    margin-top: -5px;
}

.inputImage input[type=file]{
    background-color: #fff;
    border: solid 3px var(--primaire);
    color: var(--primaire);
    padding: 10px 25px;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.inputImage img{
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-left: 267px;
    margin-top: 15px; 
}
.bouton {
    margin-top: 20px;
}
.bouton button{
    background-color: #fff;
    border: solid 2px var(--primaire);
    color: var(--primaire);
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.bouton button:hover{
    background-color: var(--primaire);
    color: var(--tertiaire);
}
