body{
    --primaire : #FD2D01;
    --secondaire : #FFD7D7;
    --tertiaire : #4E5166;
}

.titre{
    margin-top: -100px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: var(--tertiaire);
}

.bouton{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    padding: 20px;
}

.boutonCo{
    border : solid;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color : var(--tertiaire);
    cursor : pointer;
    margin: 20px;
    font-weight: bold;
}

.boutonCo:hover {
    color : var(--primaire);
}

.boutonInsc{
    border : solid;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color : var(--tertiaire);
    cursor : pointer;
    font-weight: bold;
}

.boutonInsc:hover{
    color : var(--primaire);
}
.logo {
    display: flex;
    margin-left: 30%;
    height: 550px;
    width: 50%;
}


@media screen and (max-width : 320px) {
    .logo{
        width: 25%;
        height: 250px;
        margin-left: 12%;
    }
    .titre{
        margin-top: -10px;
        font-size: 25px;
    }
    .bouton{
        margin-left : 14%;
    }
    .boutonCo{
        margin : 0;
        margin-bottom: 10px;
    }
    
}
@media screen and (min-width : 321px) and (max-width : 413px) {
    .logo {
        width: 25%;
        height: 250px;
        margin-left: 17%;
    }
    .titre{
        margin-top: 50px;
        font-size: 25px;
    }
    .bouton{
        margin-left : 18%;
    }
    .boutonCo{
        margin : 0;
        margin-bottom: 10px;
    }   
}
@media screen and (min-width : 414px) and (max-width : 599px){
    .logo {
        width: 25%;
        height: 300px;
        margin-left: 15%;
    }
    .titre{
        margin-top: 0px;
        font-size: 35px;
    }
    .bouton{
        width: 100%;
        margin-left: 0px;
    }
    .boutonCo{
        margin : 0;
        margin-right: 5px;
        margin-bottom: 10px;
        height: 50px;
    } 
    .boutonInsc{
        height: 50px;
    }
}
@media screen and (min-width : 600px) and (max-width : 767px){
    .logo {
        width: 50%;
        height: 300px;
        margin-left: 25%;
    }
    .titre{
        margin-top: 0px;
        font-size: 35px;
    }
    .bouton{
        width: 100%;
        margin-left: 0px;
    }
    .boutonCo{
        margin : 0;
        margin-right: 5px;
        margin-bottom: 10px;
        height: 50px;
    } 
    .boutonInsc{
        height: 50px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px){
    .logo {
        width: 50%;
        height: 500px;
        margin-left: 18%;
    }
    .titre{
        margin-top: -125px;
        font-size: 50px;
    }
    .bouton{
        margin-left : 25%;
    }
    .boutonCo{
        margin : 0;
        margin-bottom: 10px;
        height: 75px;
    } 
    .boutonInsc{
        height: 75px;
    }
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .logo{
        width: 50%;
        height: 500px;
        margin-left: 25%;
    }
}
@media screen and (min-width : 1230px) {
    .logo{
        width: 100%;
        height: 500px;
        margin-left: 0;
    }
    .logo img{
        margin-left: 25%;
        width: 50%;
    }
    
}
